body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  color:#1E1F22;
  line-height: 1.5rem;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  padding-bottom: 3%;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  letter-spacing: .01px;
}

h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: .01px;
  color:#7441FB;
}


.name{
  color:#7441FB;
}


p{
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.01px;
  color:#1E1F22;
}

img {
    width: 100%;
}

.moveup{
   margin-top:-60%;
   margin-bottom:60%;
}

.logo{
  width:15%;
}

.jumbotron{
  background: transparent;
}

button:focus {
  outline:none !important;
  box-shadow: none !important;
}

.btn-link{
  color:#7441FB;
}

.btn-link:hover{
  color:#7441FB;
}


.primary-btn{
  background-color: #7441FB;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  margin: 8px 1.2em;
  cursor: pointer;
  border-radius: 20px;
}
.primary-btn:hover{
  position: relative; 
  top: -5px;
  background-color: #7441FB;
  box-shadow: 0px 3px 5px #7441FB;
}

.secondary-btn{
  padding: 10px 20px;
  text-align: center;
  color: #7441FB;
  border-radius: 20px;
  border: 2px solid #7441FB;
}

.secondary-btn:hover{
  background-color: #7441FB;
  padding: 10px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  border: 2px solid #7441FB;
}

.goal{
  margin-left: 25%;
}

.goal li{
  list-style: none;
  margin-bottom: 2%;
}

.goal li:first-child {
  margin-top:28%;
}

.goal li::before {
  content: "•"; 
  color:#7441FB;
  display: inline-block; width: 1em;
}

.fa-check{
  color:#3AE1A4;
}

.fa-times{
  color:#FA594F;
}


/* price table */

.pro, .custom{
  background: #7441FB;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.basic, .elite{
  background: #FF5F34;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}
  
  .pricing .card {
    border:none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  /* price table */


  /* case studies */
  .cases .card {
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .fa-clock, .fa-calendar, .fa-thumbs-up{
    color:#7441FB;
  }
    /* case studies */

/* testimonials */
.carousel {
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background: white; }

  .carousel .carousel-item {
    height: 300px; }
  
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

  .carousel-control-next-icon:before
  {
    content: '>';
    font-size: 55px;
    color: #7441FB;
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color:#7441FB;
  }

.carousel, .carousel-item img{
  min-height: 180px!important;
}

  .carousel-item img{

    position: relative !important;
    margin-top: -5%  !important;
    width: 5% !important;
    display: block  !important;
    margin: 0 auto !important;
  }
 /* testimonials */ 
  

 /* FAQs */
 .right{
   float: right;
 }

  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
  color: #7441FB;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}
 /* FAQs */

 #accordion > .card-header{
   background-color:#F7F7F7 !important;
 }

 .card{
  overflow: hidden;
  max-width: 100%;
}

.card-text{
  word-wrap: break-word;
}
 /* FAQs */
 

/* Footer */


#footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 60px 0;
  background-image: linear-gradient(to left top, #FC6C43, #BF5592, #b73bbd, #a239db, #7441fb);
}

#footer > .container {
  width: 100%;
}

#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}


@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}

.divider-width{
  width:5%;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size:1.8em;
  }


  .divider-width{
    width:10%;
  }

  .moveup{
    margin-top:-60%;
    margin-bottom:60%;
 }

 .goal li:first-child {
  margin-top:0%;
}

.arrow{
  margin-bottom: 5%;
}
 
}